.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Couleur de fond */
  }
  
  .login-form {
    background-color: #ffffff; /* Couleur du formulaire */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 320px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333333; /* Couleur du texte */
  }
  
  .form-control {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 8px;
    color: #666666; /* Couleur du texte de l'étiquette */
  }
  
  .form-control input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd; /* Couleur de la bordure */
    border-radius: 4px;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50; /* Couleur de fond du bouton */
    color: #ffffff; /* Couleur du texte du bouton */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Couleur de fond du bouton au survol */
  }
  
  .register-link {
    margin-top: 20px;
    color: #666666; /* Couleur du texte du lien d'inscription */
  }
  
  .register-link a {
    color: #4caf50; /* Couleur du texte du lien d'inscription au survol */
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  