.modal-enter {
    opacity: 0;
    transform: translateY(-50%);
}

.modal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.modal-exit {
    opacity: 1;
    transform: translateY(0);
}

.modal-exit-active {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 300ms, transform 300ms;
}

.modal-open .blur-background {
    filter: blur(8px);
    transition: filter 0.3s;
}

.toastify-container {
    width: 400px !important;
}

.toastify-toast {
    background-color: #007bff !important;
    /* Couleur de fond */
    color: #fff !important;
    /* Couleur du texte */
    border-radius: 8px !important;
    /* Bordure arrondie */
    font-family: Arial, sans-serif !important;
    /* Police */
    font-size: 16px !important;
    /* Taille du texte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    /* Ombre */
    padding: 16px !important;
    /* Espacement intérieur */
}

.toastify-toast .toastify-icon {
    font-size: 20px !important;
    /* Taille de l'icône */
}

.toastify-toast .toastify-close-button {
    color: #fff !important;
    /* Couleur du bouton de fermeture */
}
