button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {

    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}

/* Ajouter ces styles à votre fichier CreateEvent.css si nécessaire */
.map-container {
    height: 400px;
    width: 100%;
}