/* Super.css */
.react-select__control {
    border: 1px solid #d1d5db; /* Gray-300 */
    border-radius: 0.5rem; /* Rounded-lg */
    padding: 0.5rem;
    font-size: 1rem;
    background-color: white;
    box-shadow: none;
    transition: all 0.3s ease;
}

.react-select__control--is-focused {
    border-color: #D1D5DB; 
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.4); 
}

.react-select__menu {
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.react-select__option--is-focused {
    background-color: #f3f4f6; 
}

.react-select__option--is-selected {
    color: white;
}
